/*

Template 2082 Pure Mix

http://www.tooplate.com/view/2082-pure-mix

*/

/* Body 
------------------------------------- */
body {
		background: #fff
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 300;
    position: relative;
}

html,body {
  width: 100%;
  overflow-x: hidden;
}

html {
  font-size: 100%;
}


/* Typography
------------------------------------- */

h1,h2,h3,h4 {
  font-weight: 400;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

h1 {
  color: #f2f2f2;
  font-size: 1.8rem;
  font-weight: 700;
}

h2 {
  color: #d60b51;
  font-size: 1.8rem;
  font-weight: 700;
}

h3 {
  color: #f2f2f2;
  font-size: 15px;
  letter-spacing: 1px;
}

h5 {
  font-weight: 400;
  letter-spacing: 1px;
}

p {
  color: #4F4F4F;
  font-size: 17px;
  line-height: 28px;
  word-spacing: 1px;
  letter-spacing: 1px;
}

a {
  outline: none;
  text-decoration: none;
}
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  outline: 0;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

img {
  width: 100%;
  max-width: 100%;
}


/* preloader styles
/* ========================================== */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #fff;
}

.sk-spinner-pulse {
  width: 60px;
  height: 60px;
  background-color: #111112;
  border-radius: 100%;
  -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
          animation: sk-pulseScaleOut 1s infinite ease-in-out; }

@-webkit-keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

@keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }



/* navigation styles
/* ========================================== */
.st-site-header.st-style1 {
  background-color: rgba(242, 242, 242, 1);
  -webkit-box-shadow: 0 10px 10px -10px rgba(206, 140, 136, 0.1);
          box-shadow: 0 10px 10px -10px rgba(206, 140, 136, 0.1);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.st-site-header.st-style1 .st-main-header-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
}

.st-site-header.st-style1.st-transparent-header {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.st-site-header.st-style1.st-sticky-active {
  background-color: #f2f2f2;
  -webkit-box-shadow: 0 10px 10px -10px rgba(206, 140, 136, 0.1);
          box-shadow: 0 10px 10px -10px rgba(206, 140, 136, 0.1);
}

@media screen and (max-width: 991px) {
  .st-main-header .container {
    max-width: 100%;
  }
  .st-site-header.st-style1 {
    background-color: #f2f2f2;
  }
}

.st-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.st-main-header {
  position: relative;
}

@media screen and (min-width: 992px) {
  .st-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .st-nav .st-nav-list {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .st-nav .st-nav-list > li {
    margin-right: 40px;
  }
  .st-nav .st-nav-list > li:last-child {
    margin-right: 45px;
  }
  .st-nav .st-nav-list > li > a {
    padding: 15px 0;
    font-size: 17px;
    display: inline-block;
    color: #4F4F4F;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
  }
  .st-nav .st-nav-list > li > a.active {
    color: #d60b51;
  }
 
  
  
  .st-nav .st-nav-list ul {
    padding-left: 15px;
    display: none;
  }
  .st-nav .st-nav-list a {
    display: block;
    padding: 8px 20px;
  }
  .st-nav .menu-item-has-children {
    position: relative;
  }
  

 
/* header section styles
/* ========================================== */
#header {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  text-align: center;
  padding-top: 130px;
  padding-bottom: 100px;
}

#header .header-thumb {
  background: #ffffff;
  border: 10px solid #f9f9f9;
  padding: 620px 20px 62px 20px;
}

.header-one .header-thumb,
.header-two .header-thumb,
.header-three .header-thumb,
.header-four .header-thumb,
.header-five .header-thumb {
  padding: 32px 20px 32px 20px !important;
}

.header-one, .header-two,
.header-three, .header-four,
.header-five {
  height: 42vh !important;
  min-height: 420px;
  padding-top: 155px !important;
}

.header-one {
  background: url('../images/header-bg.jpg') no-repeat;
  height: 60vh !important;
  min-height: 520px;
  padding-top: 150px !important;
}
.header-two {
  background: url('../images/header-two-bg.jpg') no-repeat;
}
.header-three {
  background: url('../images/header-three-bg.jpg') no-repeat;
}
.header-four {
  background: url('../images/header-four-bg.jpg') no-repeat;
}
.header-five {
  background: url('../images/header-five-bg.jpg') no-repeat;
}

/* Portfolio section styles
/* ========================================== */
#portfolio {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 6rem;
}

#portfolio img {
  width: 100%;
}

#portfolio .portfolio-thumb {
  position: relative;
  overflow: hidden;
  margin: 0;
} 

#portfolio .portfolio-thumb .portfolio-overlay {
  background: #d60b51;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#portfolio .portfolio-thumb:hover .portfolio-overlay {
  opacity: 0.9;
}

#portfolio .portfolio-thumb .portfolio-overlay .portfolio-item {
    text-align: center;
    padding: 30% 20px 20px;
}

#portfolio .portfolio-thumb .portfolio-overlay .fa {
    background: #f9f9f9;
    border-radius: 100px;
    color: #141414;
    font-size: 1.3rem;
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    text-decoration: none;
    margin-bottom: 4px;
}

/*filter css*/
.filter-wrapper {
    width: 100%;
    margin-bottom: 32px;
    overflow: hidden;
}

.filter-wrapper li {
    display: inline-block;
    margin: 4px;
}

.filter-wrapper li a {
    color: #d60b51;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 8px 17px;
    margin-right: 2px;
    margin-left: 2px;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}
.filter-wrapper li a:active {
  background: #d60b51 !important;
}
.filter-wrapper li a:hover,
.filter-wrapper li a:focus {
  background: #d60b51;
  color: #ffffff;
}

/*isotope box css*/
.iso-box-section {
    width: 100%;
}

.iso-box-wrapper {
    width: 100%;
    padding: 0;
    clear: both;
    position: relative;
}

.iso-box {
    position: relative;
    min-height: 50px;
    float: left;
    overflow: hidden;
    margin-bottom: 25px;
}

.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
} 

.fluid-img {
    width: 100%;
    display: block;
}

/* single project section styles
/* ========================================== */
#single-project {
  padding-top: 4rem;
  padding-bottom: 6rem;
}

#single-project .project-info {
  padding-bottom: 10px;
}

#single-project img {
  padding-top: 14px;
}

/* about section styles
/* ========================================== */
#about {
  padding-top: 5rem;
  padding-bottom: 8rem;
}

#about .col-md-4 {
  padding-top: 16px;
  padding-bottom: 32px;
}

#about img {
  padding-bottom: 20px;
}

#about blockquote {
  letter-spacing: 2px;
  margin-top: 20px;
 
}
/*--------------------------------------------------------------
6. Button
----------------------------------------------------------------*/
.st-btn.st-style1,
.st-btn.st-style2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5em;
  font-weight: 400;
  padding: 12px 1.5em;
  border-radius: 50px;
  min-width: 170px;
  border: none;
  outline: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-transform: capitalize;
}

.st-btn.st-style1:hover,
.st-btn.st-style2:hover {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0px 5px 10px 0px #d9d9d9;
          box-shadow: 0px 5px 10px 0px #d9d9d9;
}

.st-btn.st-style1.st-color1 {
  background-color: #d60b51;
  color: #ffffff;
}


/* footer section styles
/* ========================================== */
footer {
  background: #1C1C1C;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}


/* Responsive Mobile styles
/* ========================================== */
@media (max-width: 980px) {

  .intro-inner {top: 30%;}

  #contact .col-md-4 {
    padding: 62px 20px 42px 32px;
  }

  #contact .col-md-4 p {
    font-size: 12px;
  }

  #contact #map-canvas {
    margin-bottom: 60px;
  }
}


@media (max-width: 768px) {

  .brand {
    padding-left: 24px;
  }

  .header-one, .header-two,
  .header-three, .header-four,
  .header-five {
    min-height: 380px;
	padding-top: 80px !important;
  }

  #about .col-md-4,
  #single-project .col-md-3 {
    padding-bottom: 32px;
  }

}


@media (max-width: 700px) {

  h1 {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 13px;
    letter-spacing: 3px;
  }

  .filter-wrapper {
    padding: 0px;
  }

  #contact {
    padding-bottom: 4rem;
  }

  #contact .col-md-4 {
    padding: 32px 20px 22px 62px;
  }
  .contact-submit {
	width: 70%;
  }

}

@media (max-width: 450px) {
  .intro-inner {top: 50%;}
}
